<template>
    <transition name="modal-fade">
        <div id="closethis" class="popup-backdrop close-winnerpopup" @click="close">
            <div class="popup">
                <div v-if="hasWinner()">

                    <header
                            class="popup-header"
                            id="popupTitle"
                    >
                        The Winner is...
                    </header>
                    <div class="modal-body">
                        <LocationCard v-bind:loca="winner"></LocationCard>
                    </div>
                    <div class="modal-footer">
                        exit
                    </div>
                </div>
                <div v-else>
                    <slot name="header">
                        Oh no!!! No viable Restaurants :-(
                    </slot>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import LocationCard from "./LocationCard";

    export default {
        name: 'AppWinnerPopUp',
        components: {LocationCard},
        props: ["winner"],
        data() {
            return {
                event_name: [],
            }
        },
        methods: {
            close(event) {
                this.event_name = event.target.className;
                if (event.target.className.includes("close-winnerpopup")) {
                    this.$emit('close');
                }
            },
            hasWinner() {
                return this.winner !== "";
            }
        },
    };
</script>

<style>
    .popup-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup {
        background: #FFFFFF;
        box-shadow: 2px 2px 20px 1px;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        z-index: 8;
    }

    .popup-header,
    .modal-footer {
        padding: 15px;
        display: flex;
    }

    .popup-header {
        border-bottom: 1px solid #eeeeee;
        color: #4AAE9B;
        justify-content: space-between;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .modal-footer {
        border-top: 1px solid #eeeeee;
        justify-content: flex-end;
    }

    .modal-body {
        position: relative;
    }

    .btn-close {
        border: none;
        font-size: 20px;
        padding: 20px;
        cursor: pointer;
        font-weight: bold;
        color: #4AAE9B;
        background: transparent;
    }

    .btn-green {
        color: white;
        background: #4AAE9B;
        border: 1px solid #4AAE9B;
        border-radius: 2px;
    }
</style>
